/* Global Styles */
body {
    font-family: "Roboto", sans-serif;  
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #000000;
  }

/* Name Section */
.name-section {
    text-align: center;
    color: #000000;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    border-bottom: 3px solid #ffffff;
    color: #000000;
  }
  
.name-section h1 {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
}

/* Container */
.container {
    margin: 1rem  auto;
    padding: 0rem 1rem;
    scrollbar-width: 100px;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    box-shadow:
        0 8px 24px rgba(0, 0, 0, 0.2),
        inset 0 1px 0 rgba(255, 255, 255, 0.5);

    overflow: hidden;
}
/* About Me Section */
.about-container {
    display: flex;
    flex-direction: row-reverse; /* 이미지와 텍스트 위치 변경 */
    align-items: center; /* 수직 정렬 */
    gap: 20px; /* 텍스트와 이미지 사이의 간격 */
}

.profile-img {
      width: 150px; /* 원하는 크기로 조정 가능 */
      height: auto;
      object-fit: cover;
}

.about-text {
    overflow: hidden;
}

/* Education and Experience */
.school-header, 
.job-header, 
.honor-header, 
.publications-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 15px;
    background: #b6cde9;
    border-radius: 5px;
    line-height: 1.6;
    transition: background-color 0.3s ease-in-out; /* 0.3초 동안 부드러운 전환 */
    border-radius: 24px;

    border: 1px solid b6cde9;
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);

    box-shadow:
        0 8px 24px rgba(0, 0, 0, 0.2),
        inset 0 1px 0 rgba(255, 255, 255, 0.5);
}

.school-header:hover, 
.job-header:hover, 
.honor-header:hover, 
.publications-header:hover {
  background: #a5b9d1;
}

.details {
    margin-left: 10px;
    padding: 10px 0;
    display: none;
}

.details ul {
    list-style: disc;
    margin: 0;
    padding-left: 20px;
}

.date {
    font-size: 0.9rem;
    color: #000000  !important;
    text-align: right !important;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    display: block;
    margin-right: 1rem;
}

.link {
  font-size: 0.9rem;
  color: #000000  !important;
  text-align: right !important;
  font-family: 'Source Code Pro', monospace;
  font-weight: 30;
}

.etc {
    font-size: 0.9rem;
    color: #000000;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400
}

/* Education and Experience Items */
.education-item, 
.experience-item, 
.honor-item, 
.publications-item {
    margin-bottom: 20px; /* 각 항목 간의 간격 */
}

.education-item.open .details, 
.experience-item.open .details, 
.honor-item.open .details, 
.publications-item.open .details {
    display: block;
}
.author {
    text-decoration: underline;
    font-weight: 600;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* 모든 링크에 기본 스타일 적용 */
a {
  color: #000000;
  text-decoration: none;
}

/* 마우스를 올렸을 때 */
a:hover {
  color: #000000;
  text-decoration: underline;

}

/* 방문한 링크 */
a:visited {
  color: #000000;
}

/* Open Files Section */
.open-files {
  margin-top: 20px; /* 상단 간격 */
  text-align: left;
}

.open-files h3 {
  margin-bottom: 10px;
}

.open-files ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-logo {
  height: 32px;
  width: auto;
  margin-right: 8px;
}

.navbar-left {
  display: flex;
  align-items: center;
}
.open-files li {
  margin-bottom: 10px 0;
}

.open-files a {
  color: #035bb9; /* 링크 색상 */
  text-decoration: none;
}

.open-files a:hover {
  color: #0056b3; /* 호버 시 색상 */
  text-decoration: underline;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  color: #000000;
  margin: auto;
  scrollbar-width: 100px;
  max-width: 900px;
  border: 1px solid rgba(255, 255, 255, 0.45);

  padding: 10px 20px;
  position: sticky;
  top: 10px;          
  margin-top: 10px;   
  z-index: 1000;
  border-radius: 24px;
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}

.navbar-left .site-name {
  font-weight: 500;  
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;  
  margin: 0;
  color: #000000;
}

.navbar-right .nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.navbar-right .nav-links li {
  display: inline;
}

.navbar-right .nav-links a {
  color: #000000; /* 링크 기본 색상 */
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;  
  font-weight: 400;
  transition: color 0.3s ease;
}

.navbar-right .nav-links a:hover {
  color: #0051ff; 
}

.open-files ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.open-files li {
  display: inline-block;
}

.button {
  display: inline-block;
  padding: 4px 15px;
  font-weight: 300;
  color: #000000 !important;
  background: #e5e4e4;
  text-decoration: none;
  transition: all 0.3s ease; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  text-align: center;
  background-color: transparent;

}

/* Hover 효과 */
.button:hover {
  background-color: #a5a5a5; 
  opacity: 0.9; 
  text-decoration: none !important;
}

.social-logo {
  width: 30px;
  height: auto;
}

ul li::marker {
  font-size: 0.75em;
}
.mobile-only {
  display: none;
}

.desktop-only {
  display: inline;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 600px) {
  body {
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "Roboto", sans-serif;  
    font-weight: 400;
    font-size: 1rem;
  }
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 10px auto;
    max-width: 100%;
  }
  .about-container {
    flex-direction: column; 
  }

  .profile-img {
    width: 40%;              
  }

  .about-text {
    padding: 0 1rem;      
  }

  .navbar-left .site-name {
    font-size: 1.3rem;
  }
  
  .navbar-right .nav-links {
    display: none;
  }
  .job-header {
    gap: 1rem; 
  }
  .mobile-only {
    display: inline;
  }

  .desktop-only {
    display: none;
  }
}